* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home
 {
  display: flex;
  /* height: 90vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.parksearch {
  background-image: url('https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#table{
  position: relative;
  overflow: hidden;
}

h1{
  margin-bottom: 30px;
  font-size: 3rem;
  padding-top: 3%;
  margin-bottom: 0;
}




